* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --grey: #292323ad;
  --lightgrey: #706f6885;
}
html {
  font-size: 10px;
}
body {
  font-size: 2rem;
  height: 100vw;
  font-family: "Open Sans", sans-serif;
}
.cnt {
  height: 100%;
}

header {
  position: fixed;
  box-shadow: 0 0.4rem 0.2rem -0.2rem gray;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1;
}
nav {
  display: flex;
  background-color: var(--white);
  height: 7rem;
  justify-content: space-between;
  padding: 0 4rem;
  align-items: center;
}

.logo {
  height: 3rem;
  width: 20rem;
}
.cnt-icons {
  display: flex;
  align-items: center;
}

.button {
  cursor: pointer;
  border: 1px solid black;
  border-radius: 25px;
  padding: 10px;
}

.margin-bottom-s{
  margin-bottom: 1rem;
}

.margin-bottom-m{
  margin-bottom: 2rem;
}

.margin-bottom-l{
  margin-bottom: 3rem;
}


.cnt-icons ion-icon {
  
  margin-right: 2rem;
  cursor: pointer;
  font-size: 1.5em;
  color: var(--grey);
}

.profile {
  border-radius: 50%;
  background-color: #f44e18;
  width: 3rem;
  height: 3rem;
  text-align: center;
  padding: 1rem;
  color: white;
  font-size: 1rem;
  margin-left:1rem;
}
.cnt-contet {
  padding: 0 4rem;
  display: flex;
  flex-direction: row;
  margin-top: 7rem;
}
main {
  width: 70%;
  border-right: 2px solid var(--lightgrey);
  padding: 3rem;
}

.cnt-tab {
  display: flex;
  border-bottom: 1px solid var(--lightgrey);
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 2rem;
}

.cnt-tab div:last-child{

  border-bottom: 1px solid black;
}
.cnt-tab div {
  margin-right: 1rem;
  margin-top:1rem;
  padding: 1rem;
}

.cnt-articles {
  display: flex;
  flex-direction: column;
}

.article {
  display: inherit;
  margin-bottom: 4rem;
}
.author {
  font-weight: 600;
  font-size: 1.6rem;
}

.cnt-article-left {
  width: 60%;
  margin-right: 2rem;
}

.cnt-title-article p {
  font-weight: 800;
  font-size: 2rem;
}

.cnt-content {
  font-size: 1.6rem;
  color: var(--grey);
}

.cnt-article-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
}

.cnt-article-footer {
  color: var(--lightgrey);
}
.cnt-article-footer :nth-child(3) {
  border-radius: 2.5rem;
  padding: 0.2rem;
  background-color: var(--lightgrey);
}

.cnt-article-footer ion-icon {
  font-size: 2.5rem;
}

.cnt-article-right {
  width: 200px;
  height: 150px;
}

aside {
  width: 30%;
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.cnt-aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid var(--lightgrey);
  padding-bottom: 1rem;
}

.cnt-aside-icons
{
  font-size: 4rem;
  margin-bottom: 2rem;
}
.twitter-icon {
  color: #37a1f2;
}

.cnt-aside.ctn-social a {
  color: var(--lightgrey);
}
.cnt-aside-title {
  align-self: start;
  font-weight: 700;
  margin-bottom: 1rem;
}

.sticky-elments{
  position: sticky;
  top:7rem;
}

.cnt-aside.cnt-recommendation div {
  display: flex;
  flex-wrap: wrap;
}
.rounded-div
{
  border-radius: 25px;
  padding: 0.5rem;
  background-color: var(--lightgrey);
  margin: 1rem;
}
.cnt-aside.cnt-recommendation span {
  border-radius: 25px;
  padding: 0.5rem;
  background-color: var(--lightgrey);
  margin: 1rem;
}

.cnt-profile {
  display: flex;
  margin-bottom: 2rem;
  align-items: center;
}
.cnt-profile img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.name {
  font-weight: 700;
}
.profession {
  font-size: 1rem;
}
.cnt-flex-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cnt-flex-button .twitter-icon
{
  margin-right: 1rem;
}
.who-follow-img{
  margin-right: 1rem;
}
.cnt-info{
  margin-right: 2rem;
}
.cnt-recently-saved
{
  display: flex;
  flex-direction: column;
}

.author-saved-article
{
  display: flex;
  align-items: center;
}
.author-saved-article p
{
  font-size: 1.2rem;
  margin-left: 1rem;
  font-weight: 700;
}
.title-saved-article p
{
  margin-left: 1rem;
  font-weight: 700;
  text-overflow: ellipsis;
}
.cnt-saved-article{

  margin-top: 2rem;
}
.cnt-recently-saved a{
  margin-top: 2rem;
  color: green;
  text-decoration: none;
}
footer{
  margin-top: 8rem;
  display: flex;
  flex-wrap: wrap;
}
footer a
{
  color: var(--grey);
  text-decoration: none;
  margin-left: 1rem;
}
